<footer class="newso-footer flex-row">
  <div class="content-wrraper flex-col">
    <div class="contact-address flex-row flex-space-between">
      <div class="contact-text-container">
        <div class="contact-us">Contact us</div>
        <div class="address flex">
          <div>서울시 광진구 능동로 120 건국대학교 창의관 203호&nbsp;</div>
          <div>주식회사 앤틀러</div>
        </div>
      </div>
      <ul class="icon-list flex-row">
        {% for item in site.data.icon %}
        <li class="icon-container">
          <a href="{{ item.link }}" target="_blank" rel="noreferrer">
            <div class="icon"></div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="copyright-wrraper">
      <span class="copyright">Copyright © antller. All Rights Reserved.</span>
    </div>
  </div>
</footer>
