<footer class="newso-footer flex-row">
    <div class="content-wrraper flex-col">
        <div class="contact-address flex-row flex-space-between">
            <div>
                <span class="contact-us">Contact us</span>
                <span class="address">
                    서울시 광진구 능동로 120 건국대학교 창의관 203호 주식회사 앤틀러
                </span>
            </div>
            <ul class="icon-list flex-row  ">
                {% for item in site.data.icon %}
                <li class="icon"><a href="{{ item.link }}" target="_blank"><img class="" src="{{item.src}}"
                            alt="{{item.name}}"></a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="copyright-wrraper">
            <span class="copyright">Copyright © antller. All Rights Reserved.</span>
        </div>
    </div>
</footer>