<div hidden class="overlay-subscribe">
  <div class="modal-wrapper">
    <div class="modal-subscribe">
      <button class="modal-exit">
        <img
          class="full-size-fit"
          src="../assets/images/close-button/btn-close@2x.png"
          alt="close-btn"
        />
      </button>
      <!-- 구독폼// -->
      <form
        class="modal-subscribe-form js-subscribe-form"
        action=""
        name="subscribe-form"
      >
        <!-- logo image -->
        <div class="modal-newso-logo-container flex-col flex-center">
          <div class="modal-newso-symbol">
            <img
              class="full-size-fit"
              src="../assets/images/image-symbol/img-symbol@2x.png"
              alt=""
            />
          </div>
          <div class="modal-newso-logo">
            <img
              class="full-size-fit"
              src="../assets/images/logo-newso-center/logo-newso-center@2x.png"
              alt=""
            />
          </div>
          <p>매주 목요일, 한우에 관련된 재미있는 소식을 만나보세요.</p>
        </div>
        <!-- inputs -->
        <fieldset class="flex-col subscribe-input-container">
          <label for="stb_email" class="subscribe-form-label">
            이메일 주소
          </label>
          <input
            type="email"
            class="subscribe-form-input js-email-input"
            name="email"
            required="required"
          />
          <div class="subscribe-form-msg-error"></div>
        </fieldset>

        <fieldset class="flex-col subscribe-input-container">
          <label for="stb_name" class="subscribe-form-label"> 이름 </label>

          <input
            type="text"
            class="subscribe-form-input js-name-input"
            name="name"
            required="required"
          />
          <div class="subscribe-form-msg-error"></div>
        </fieldset>

        <!-- 개인정보 정책 / -->
        <div class="stb-form-policy">
          <label>
            <input
              class="js-policy-input"
              type="checkbox"
              id="stb_policy"
              value="stb_policy_true"
            />
            <button
              data-modal="stb_form_policy_modal"
              class="subscribe-form-policy-open-btn"
              type="button"
            >
              개인정보 수집 및 이용</button
            >에 동의합니다.
          </label>
          <div class="subscribe-form-msg-error" id="stb_policy_error"></div>

          <!-- 개인정보모달창 -->
          <!-- <div
            class="stb_form_modal stb_form_policy_text blind"
            id="stb_form_policy_modal"
          >
            <div class="stb_form_modal_body">
              <h1 class="stb_form_modal_title">개인정보 수집 및 이용</h1>
              <p class="stb_form_modal_text">
                뉴스레터 발송을 위한 최소한의 개인정보를 수집하고 이용합니다.
                수집된 정보는 발송 외 다른 목적으로 이용되지 않으며, 서비스가
                종료되거나 구독을 해지할 경우 즉시 파기됩니다.
              </p>
              <div class="stb_form_modal_btn">
                <button
                  id="stb_form_modal_close"
                  class="stb_form_modal_close_btn"
                  data-modal="stb_form_policy_modal"
                  type="button"
                >
                  닫기
                </button>
              </div>
            </div>
          </div> -->
        </div>
        <fieldset class="subscribe-form-set-submit">
          <button class="modal-subscribe-button js-submit-btn" type="submit">
            구독하기
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
