<div hidden class="overlay-policy">
  <div class="modal-wrapper">
    <div class="modal-policy flex-row">
      <button class="modal-policy-exit">
        <img
          class="full-size-fit"
          src="/assets/images/close-button/btn-close@2x.png"
          alt="close-btn"
        />
      </button>
      <!-- 구독폼// -->
      <div class="flex-col justify-center">
        <div class="modal-policy-body">
          <h4 class="modal-policy-title">개인정보 수집 및 이용</h4>
          <p class="modal-policy-text">
            뉴스레터 발송을 위한 최소한의 개인정보를 수집하고 이용합니다.
          </p>
          <p class="modal-policy-text">
            수집된 정보는 발송 외 다른 목적으로 이용되지 않으며, 서비스가
            종료되거나 구독을 해지할 경우 즉시 파기됩니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
