<div class="sticky nav-wrraper flex-row">
  <nav class="content-wrraper navbar flex-row flex-space-between">
    <div class="newso-logo">
      <a href="{{ site.baseurl }}">
        <img src="{{ site.baseurl }}/assets/images/logo-text/logo-text-2@3x.png" alt="" />
      </a>
    </div>
    <div class="flex-row desktop-nav">
      <ul class="navigation-menus flex-row">
        {% if page.url == "/" %} {% for item in site.data.navigation %}
        <li class="navigation-menu-item flex-row">
          <a  href="{{ site.baseurl }}/{{ item.link }}">{{item.name}}</a>
        </li>
        {% endfor %} {% else %} {% for item in site.data.navigation %}
        <li class="navigation-menu-item flex-row">
          <a   href="{{ site.baseurl }}/{{ item.link }}"  {% if page.url == item.link %} class="active-url" {% else %} class = "unactive-url" {% endif %}>{{item.name}}</a>
        </li>
        {% endfor %} {% endif %}
      </ul>
      <button class="js-subscribe-open-btn subscribe-btn">구독하기</button>
      <a src="#"  onclick="addSubscriberOnKaKaoChannel()" class="subscribe-kakao-btn">
        <div class="flex-row">
          <div class="kakao-channel">
            <img
              class="full-size-fit"
              src="{{ site.baseurl }}/assets/images/kakao-channel/icon-sns-kakao@2x.png"
              alt=""
            />
          </div>
          <div>채널추가</div>
        </div>
      </a>
    </div>
    <div class="mo-menu-btn">
      <img
      class="full-size-fit" 
      src='{{ site.baseurl }}/assets/images/hamberger/mo-img-navi@2x.png' alt="">
    </div>
  </nav>
</div>
