.page-error {
  padding-top: 207px;
}
.page-error-jonnie {
  width: 319px;
  height: 319px;
  background-size: contain;
  @include normal-text;
  @include cafe24;
}

.homepage-btn {
  max-width: 323px;
  letter-spacing: -1px;
  padding: 19px 60px;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.36);
  background-color: var(--newso-main-color-green);
  color: var(--newso-text-color-ivory);
  font-size: 2.4rem;
}

.page-error-text {
  letter-spacing: -1.67px;
  font-size: 4rem;
  margin: 1em 0;
}
@media screen and(max-width:26.25rem) {
  .page-error .content-wrraper {
    padding: 0 4rem;
  }
  .page-error {
    padding-top: 10.8rem;
    padding-bottom: 8rem;
  }
  .page-error-jonnie {
    width: 65%;
    height: 65%;
  }

  .page-error-text {
    font-size: 2.4rem;
  }

  .homepage-btn {
    font-size: 2.2rem;
    padding: 1.6rem 5.4rem;
  }
}

@media screen and(max-width:22.68rem) {
  .page-error .content-wrraper {
    padding: 0 1.2rem;
  }
  .page-error-text {
    font-size: 2.2rem;
  }

  .homepage-btn {
    font-size: 1.6rem;
  }
}
