@import "mixin";
.newso-footer {
  min-height: 12.2rem;
  font-size: 1.2rem;
  background-color: $--newso-footer-background-color;
  width: 100%;

  @include spoca-han;
  @include normal-text;
}
.contact-text-container {
  display: flex;
  flex-wrap: wrap;
}
.contact-us {
  font-weight: bold;
  letter-spacing: -0.14px;
  margin-right: 6px;
}
// :%s/(.\({-})\)/* $\1 \2]/g
// :%s/<li><a href="\(.\{-}\)">\(.\{-}\)<\/a>/* [\1 \2]/g
.address {
  letter-spacing: -0.5px;
}

.copyright {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.copyright-wrraper {
  margin-top: 0.7rem;
}
.icon {
  height: 2.8rem;
  width: 2.8rem;
}
.icon-container {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1.2rem;
}
.icon {
  transition: 0.3s;
  background-size: contain;
}
.icon-container:nth-child(1) .icon:hover {
  background-image: url(../images/color-icons/bn-hover-data@2x.png);
}
.icon-container:nth-child(2) .icon:hover {
  background-image: url(../images/color-icons/bn-hover-insta@2x.png);
}
.icon-container:nth-child(3) .icon:hover {
  background-image: url(../images/color-icons/bn-hover-mail@2x.png);
}
.icon-container:nth-child(4) .icon:hover {
  background-image: url(../images/color-icons/bn-hover-facebook@2x.png);
}
.icon-container:nth-child(5) .icon:hover {
  background-image: url(../images/color-icons/bn-hover-kakaotalk@2x.png);
}

.icon-container:nth-child(1) .icon {
  background-image: url(../images/icon/animal-data/bn-data@2x.png);
}
.icon-container:nth-child(2) .icon {
  background-image: url(../images/icon/insta/bn-insta@2x.png);
}
.icon-container:nth-child(3) .icon {
  background-image: url(../images/icon/mail/bn-mail@2x.png);
}
.icon-container:nth-child(4) .icon {
  background-image: url(../images/icon/facebook/bn-facebook@2x.png);
}
.icon-container:nth-child(5) .icon {
  background-image: url(../images/icon/kakao/bn-kakao@2x.png);
}

//mobile
@media screen and (max-width: 580px) {
  .contact-text-container {
    flex-direction: column;
  }

  .contact-address {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-list {
    margin-top: 2.4rem;
  }

  .contact-us {
    margin-bottom: 0.2rem;
  }

  .address {
    flex-direction: column;
  }

  .newso-footer {
    padding: 2.6rem 0 2.4rem 0;
  }

  .copyright-wrraper {
    margin-top: 12px;
  }

  .icon-container {
    margin-right: 1.2rem;
  }
}
