.subscription {
  background-color: var(--newso-background-color-ivory-opacity-90);
  padding: 7.1rem 0 0 0;
}
.subscription-img {
  max-width: 50.6rem;
  margin: 0 0 0 17.6rem;
}
.subscription-img img {
  width: 100%;
}
