.subscription {
  background-color: var(--newso-background-color-ivory-opacity-90);
  padding: 15.8rem 0 7rem 0;
}
.subscription-img {
  max-width: 50.6rem;
  // margin: 0 0 0 17.6rem;
  margin: 0 0 0 auto;
}
.subscription-img img {
  width: 100%;
}

//preface 부분
.newso-description-preface {
  background-color: var(--newso-preface-background-color);
  height: 41.5rem;
  letter-spacing: -0.67px;
  color: var(--newso-line-color);
  @include spoca-han;

  @include normal-text;
}
.preface-introduction-icons {
  margin-top: 5em;
}
.preface-keywords,
.preface-introduction {
  font-size: 1.6rem;
}
.preface-second-content {
  width: 50rem;
}
.preface-introduction-icon-name {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.preface-first-content {
  width: 28rem;
}
.preface-introduction-icon-container {
  margin-right: 4rem;
}

.preface-line {
  height: 1px;
  background-color: var(--newso-line-color);
  margin: 1.6rem 0;
}

//description 부분
//description 부분 색깔
.newso-description:nth-child(1) {
  background-color: #ffe5a6;
}
.newso-description:nth-child(2) {
  background-color: #f5d7a6;
}
.newso-description:nth-child(3) {
  background-color: #c7e4ca;
}
.newso-description:nth-child(4) {
  background-color: #d6e7ec;
}
.newso-description:nth-child(5) {
  background-color: #f9f7ed;
}
.newso-description-container {
  font-size: 1.6rem;
  margin-bottom: 7.5em;
  margin-top: 7.5em;
  margin: 7.5em 1em;
}
.description-content-wrapper {
  max-width: 1052px;
  padding: 0 16px 0 16px;
  width: 100%;
  margin: 0 auto;
}
.description-line {
  height: 2px;
  width: 100%;
  margin-top: 1.2em;
  margin-bottom: 2.5em;
  @include line;
}
.newso-description {
  max-width: 1200px;
  font-size: 1.6rem;
  border: solid 2px var(--newso-line-color);
  margin: 0 auto;
  margin-top: 6.25em;
  padding: 3em 0;

  letter-spacing: -0.67px;
  @include spoca-han;
  @include normal-text;
}
.description-name {
  font-size: 44px;
  letter-spacing: -1.83px;
  font-family: "Cafe24SsurroundAir";
}

.description-text {
  margin-top: 2em;
}
.description-icon {
  margin-right: 1em;
}

.description-introduction {
  margin-top: 0.9em;
}

//description issue
.description-text-issue {
  margin-top: 1em;
  line-height: 1.55;
  letter-spacing: -0.83px;
  font-family: Cafe24Ssurroundair;
  -webkit-text-stroke: 0.6px #979797;
  font-size: 2rem;
}

.description-issue-li {
  line-height: 2.06;
  letter-spacing: -0.75px;
  font-size: 1.8rem;
  list-style: disc inside none;
}

.issue-img {
  max-width: 144px;
  max-height: 241px;
  margin-left: 4.5em;
}
.issue-img img {
  width: 100%;
  height: 100%;
}

//disease 부분
.number-box {
  border-radius: 50%;
  background-color: #fff;
  font-size: 1em;
  margin-right: 0.5em;
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid var(--newso-line-color);
}

.description-disease-icons {
  margin-top: 1em;
  margin-bottom: 1em;
}
.disease-support-name {
  font-size: 2.2rem;
  @include cafe24;
}

.disease-icon-container:nth-child(2) {
  margin: 0 6.25em;
}

.disease-support-img {
  margin-top: 1em;
}

.disease-support-name {
}

//사양관리
.insight-img {
  max-width: 10.6em;
  max-height: 13.4em;
  margin-left: 4.5em;
}
.insight-img img {
  width: 100%;
  height: 100%;
}

//special
.description-special-logo {
  width: 17.9rem;
  height: 8.9rem;
}
.description-special-img {
  width: 21.6rem;
  height: 14.9rem;
}

.description-special-text {
  margin: 0 4.5em;
}

//inducement부분
.subscription-inducement {
  //이건 지워야한다 마진 탑은
  height: 20rem;
  background-color: var(--newso-main-color-green);
  color: var(--newso-text-color-ivory-subscription);
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
  @include normal-text;
}
.inducement-strong {
  font-size: 2.7rem;
  font-family: "Cafe24SsurroundAir";
  letter-spacing: -1.13px;
}

.inducement-description {
  color: var(--newso-text-color-ivory-subscription-opacity-6);
  margin-top: 1rem;
  // opacity: 0.6;
  font-size: 1.4rem;
  letter-spacing: -0.88px;
}
.btn-list {
  font-size: 1.8rem;
  letter-spacing: -0.75px;
  font-family: "Cafe24SsurroundAir";
  @include normal-text;
}
.inducement-btn {
  margin-left: 1.7rem;
  padding: 1.9rem 3rem 1.5rem;
}
.btn-latest-news {
  color: rgba(255, 248, 230, 0.7);
  border-radius: 33px;
  border: solid 1px rgba(255, 255, 255, 0.3);
}
.btn-subscribe {
  color: var(--newso-main-color-green);
  border-radius: 33px;
  background-color: var(--newso-text-color-ivory-subscription);
}
