.subscription {
  background-color: var(--newso-background-color-ivory-opacity-90);
  padding: 15.8rem 0 7rem 0;
}
.subscription-img {
  max-width: 50.6rem;
  // margin: 0 0 0 17.6rem;
  margin: 0 0 0 auto;
}
.subscription-img img {
  width: 100%;
}

//preface 부분
.preface-second-content {
}
.preface-introduction {
}

.newso-description-preface {
  background-color: var(--newso-preface-background-color);
  min-height: 41.5rem;
  padding: 8rem 0 4rem 0;
  letter-spacing: -0.67px;
  color: var(--newso-line-color);
  @include spoca-han;

  @include normal-text;
}
.preface-logo {
  width: 28rem;
}
.preface-introduction-icon {
  width: 71px;
  height: 71px;
}

.preface-introduction-icons {
  margin-top: 5em;
  justify-content: flex-start;
  align-items: flex-start;
}
.preface-keywords,
.preface-introduction {
  font-size: 1.6rem;
}
.preface-introduction {
  width: 100%;
}
.preface-second-content {
  // width: 100%;
}
.preface-introduction-icon-name {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.preface-introduction-icon-container {
  margin-right: 4rem;
}

.preface-line {
  width: 28rem;
  height: 1px;
  background-color: var(--newso-line-color);
  margin: 1.6rem 0;
}
.newso-description {
  position: relative;
}
//description 부분
//description 부분 색깔
.newso-description:nth-child(1) {
  background-color: #ffe5a6;
}
.newso-description:nth-child(2) {
  background-color: #f5d7a6;
}
.newso-description:nth-child(3) {
  background-color: #c7e4ca;
}
.newso-description:nth-child(4) {
  background-color: #d6e7ec;
}
.newso-description:nth-child(5) {
  background-color: #f9f7ed;
}
.newso-description-container {
  font-size: 1.6rem;
  margin-bottom: 7.5em;
  margin-top: 7.5em;
  margin: 7.5em 1em;
}

.jonnie-talk {
  flex-wrap: wrap;
}
.description-content-wrapper {
  max-width: 1052px;
  padding: 0 28px 0 28px;
  width: 100%;
  margin: 0 auto;
}
.description-line {
  height: 2px;
  width: 100%;
  margin-top: 1.2em;
  margin-bottom: 2.5em;
  @include line;
}
.newso-description {
  max-width: 1200px;
  font-size: 1.6rem;
  border: solid 2px var(--newso-line-color);
  margin: 0 auto;
  margin-top: 6.25em;
  padding: 3em 0;

  letter-spacing: -0.67px;
  @include spoca-han;
  @include normal-text;
}
.description-name {
  display: flex;
  font-size: 44px;
  letter-spacing: -1.83px;
  font-family: "Cafe24SsurroundAir";
}

.description-text {
  margin-top: 2em;
}
.description-icon {
  margin-right: 1em;
  width: 56px;
  height: 56px;
}

.description-introduction {
  margin-top: 0.9em;
  flex-wrap: wrap;
}

//가격동향
.graph-img-container {
  width: 49rem;
}

//description issue
.description-text-issue {
  margin-top: 1em;
  line-height: 1.55;
  letter-spacing: -0.83px;
  font-family: Cafe24Ssurroundair;
  -webkit-text-stroke: 0.6px #979797;
  font-size: 2rem;
}

.description-issue-li {
  line-height: 2.06;
  letter-spacing: -0.75px;
  font-size: 1.8rem;
}

.description-issue-li::before {
  content: "•";
}

.issue-img {
  max-width: 144px;
  max-height: 241px;
  margin-left: 4.5em;
}
.issue-img img {
  width: 100%;
  height: 100%;
}

//disease 부분
.number-box {
  border-radius: 50%;
  background-color: #fff;
  font-size: 1em;
  margin-right: 0.5em;
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid var(--newso-line-color);
}

.description-disease-icons {
  margin-top: 1em;
  margin-bottom: 1em;
}
.disease-support-name {
  font-size: 2.2rem;
  @include cafe24;
}
.disease-support-name-container {
  align-items: center;
}

.disease-icon-container:nth-child(2) {
  margin: 0 6.25em;
}
.disease-icon-container {
  align-items: flex-start;
}

.disease-support-img {
  margin-top: 1em;
  width: 55px;
  height: 55px;
}

//사양관리
.insight-img {
  max-width: 10.6em;
  max-height: 13.4em;
  margin-left: 4.5em;
}
.insight-img img {
  width: 100%;
  height: 100%;
}

//special

.newso-description-appendix {
  position: relative;
}
.description-special-logo {
  width: 17.9rem;
  height: 8.9rem;
}
.description-special-img {
  width: 21.6rem;
  height: 14.9rem;
}

.description-special-text {
  margin: 0 4.5em;
}

//inducement부분

.inducement-content {
  width: 100%;
}
.inducement-description-text {
  display: flex;
  flex-wrap: wrap;
}
.subscription-inducement {
  //이건 지워야한다 마진 탑은
  min-height: 20rem;
  background-color: var(--newso-main-color-green);
  color: var(--newso-text-color-ivory-subscription);
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
  @include normal-text;
}
.inducement-strong {
  font-size: 2.7rem;
  font-family: "Cafe24SsurroundAir";
  letter-spacing: -1.13px;
}

.inducement-description {
  color: var(--newso-text-color-ivory-subscription-opacity-6);
  margin-top: 1rem;
  // opacity: 0.6;
  font-size: 1.4rem;
  letter-spacing: -0.88px;
}
.btn-list {
  font-size: 1.8rem;
  letter-spacing: -0.75px;
  font-family: "Cafe24SsurroundAir";
  @include normal-text;
}
.inducement-btn {
  margin-left: 1.7rem;
  padding: 1.9rem 3rem 1.5rem;
}
.btn-latest-news {
  color: var(--newso-text-color-ivory-subscription);
  border-radius: 33px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  transition: border 0.3s;
}
.btn-subscribe {
  color: var(--newso-main-color-green);
  border-radius: 33px;
  background-color: var(--newso-text-color-ivory-subscription);
  transition: background-color 0.3s;
}

.btn-subscribe:hover {
  background-color: #f1af12;
}
.btn-latest-news:hover {
  border: solid 1px rgb(255, 255, 255);
}

@media screen and(max-width:67rem) {
  .graph-img {
    flex-direction: column;
  }

  .graph-img img {
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 51.82rem) {
  preface .preface-first-content {
    width: 100%;
  }
  .preface-line {
    order: 2;
    width: 100%;
  }
  .preface-introduction-text {
    margin-bottom: 16px;
  }

  .preface-keywords {
    margin-top: 8px;
    color: rgba(35, 30, 31, 0.6);
  }
  .newso-description-preface-content {
    display: flex;
    flex-direction: column;
    padding: 0 42px;
    // align-items: center;
  }

  .newso-description-preface {
    padding: 48px 0 40px 0;
  }
  // 부록
  .description-special-text {
    margin: 0;
  }
  .btn-list {
    flex-direction: column;
  }
  .btn-latest-news {
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 43.75rem) {
  // 설명부분
  .description-content-wrapper {
    padding: 0 28px;
  }
  .description-icon {
    order: 2;
  }
  .description-name {
    font-size: 3.2rem;
    order: 1;
    flex-direction: column;
  }
  .description-introduction {
    margin: 0;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .newso-description:nth-child(3) .description-name-container {
    justify-content: space-between;
    align-items: flex-start;
  }
  .description-name-container {
    justify-content: space-between;
  }
  // 가축질병
  .number-box {
    display: none;
  }
  .disease-icon-container:nth-child(2) {
    margin: 0;
  }
  .description-disease-icons {
    justify-content: space-between;
  }
  .disease-support-name {
    order: 2;
    margin-top: 1rem;
  }
  .disease-support-img {
    order: 1;
    margin: 0;
  }
}

@media screen and (max-width: 41.25rem) {
  // 660px임
  // subscription-inducement
  .inducement-content {
    flex-direction: column;
    padding: 36px 0;
  }
  .inducement-text-container {
    max-width: 39rem;
    width: 100%;
  }
  .inducement-btn {
    width: 100%;
    margin: 1.6rem 0 0 0;
    max-width: 39rem;
  }

  .inducement-description-text {
    flex-direction: column;
  }
  .btn-list {
    width: 100%;
  }
  .btn-list li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // 부록
  .newso-description-appendix .description-content-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .description-special-img {
    display: none;
  }
  .description-special-logo {
    position: absolute;
    top: 15%;
    right: 7%;
  }
}
@media screen and (max-width: 34.375rem) {
  .subscription {
    padding-top: 9.9rem;
  }
  //preface
  .preface-logo {
    width: 226px;
    height: 77px;
  }
  .preface-keywords {
    font-size: 1.4rem;
  }
  .preface-introduction-icon {
    width: 48px;
    height: 48px;
  }

  .preface-introduction-icon-name {
    font-size: 1.2rem;
    color: rgba($color: #000000, $alpha: 0.6);
  }
  .preface-introduction-icon-container {
    margin-right: 0;
  }

  .preface-introduction-icons {
    justify-content: space-around;
  }

  //description

  .newso-description {
    margin-top: 4rem;
    padding: 3.2rem 0 2.8rem 0;
  }
  .description-line {
    margin: 1.6rem 0 2rem 0;
  }
  .issue-img {
    margin-right: 0;
  }
  .newso-description-container {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 5.2rem;
  }
  .newso-description {
    font-size: 1.4rem;
  }

  .description-name {
    font-size: 2.4rem;
  }

  .graph-img-container {
    width: 100%;
  }

  .description-icon {
    margin-right: 0;
    width: 48px;
    height: 48px;
  }

  //핫이슈 탐구
  .newso-description:nth-child(2) {
    min-height: 41.5rem;
  }
  .description-issue-li {
    font-size: 1.4rem;
  }

  .description-text-issue {
    font-size: 1.5rem;
  }
  .issue-img {
    width: 85px;
    height: 140px;
    position: absolute;
    bottom: 7%;
    right: 8%;
  }

  .description-issue-li {
    position: relative;
    span {
      position: relative;
      left: 0;
    }
  }
  .jonnie-talk {
    flex-direction: column;
    line-height: 1.8;
  }

  //질병
  .disease-support-img {
    width: 54px;
    height: 42px;
  }
  .disease-support-name {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .newso-description:nth-child(3) .description-introduction {
    margin-top: 4px;
  }

  //inducement
  .inducement-strong {
    font-size: 2.4rem;
  }

  .inducement-btn {
    font-size: 1.6rem;
  }
  .inducement-description {
    margin-top: 0.8rem;
    margin-bottom: 3.2rem;
  }
  .btn-list li {
    margin: 0;
  }
  .inducement-btn {
    margin: 0;
  }
  .btn-list li:nth-child(1) {
    margin-bottom: 1.6rem;
  }
  .subscription-inducement {
    margin: 0;
  }
  //insight
  .insight-img {
    position: absolute;
    bottom: 7%;
    right: 8%;
    width: 113px;
    height: 140px;
  }
  .newso-description:nth-child(4) {
    min-height: 41.7rem;
  }
  .list-description {
    align-items: flex-start;
    justify-content: flex-start;
  }
  //special
  .description-special-logo {
    width: 100px;
    height: 50px;
  }
}

@media screen and (max-width: 22.68rem) {
  .issue-img {
    width: 50px;
    height: 80px;
  }

  .insight-img {
    width: 60px;
    height: 73.8px;
  }

  .newso-description-preface-content {
    padding: 0;
  }

  .content-wrraper {
    padding: 0 1.2rem;
  }
  .description-name-container {
    margin-bottom: 4px;
  }
  .description-disease-icons {
    align-items: flex-start;
  }
}
