@import "mixin";

.nav-wrraper {
  max-height: 8.7rem;
  font-size: 1.6rem;
  background-color: $--newso-main-color-green;
  border-bottom: #1d1d1b solid 2px;
}
.navbar {
  padding: 1.95rem 2rem 1.95rem 2rem;
}

.newso-logo {
  width: 116px;
  height: 46px;
  padding-left: 0.8rem;
}

.newso-logo img {
  width: 100%;
  height: 100%;
}
.navigation-menu-item {
  margin: 0 3em 0 0;
  height: 4rem;
  letter-spacing: -0.67px;
  color: $--newso-text-color-ivory;
  @include normal-text;
  transition: 0.3s;
}
.navigation-menu-item:hover {
  box-shadow: inset 0 -2px 0 $--newso-text-color-ivory;
}

.subscribe-btn {
  @include navigation-btn(
    $--newso-background-color-ivory,
    $--newso-main-color-green
  );
}

.subscribe-kakao-btn {
  @include navigation-btn(
    $--newso-background-color-ivory,
    $--newso-kakao-text-color
  );
}
.subscribe-btn:hover {
  background-color: #f1af12;
}

.subscribe-kakao-btn:hover {
  background-color: #ffe404;
}
.kakao-channel {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 2px;
}

.unactive-url {
  color: $--newso-text-color-ivory-opa-40;
  transition: 0.3s;
}
.mo-menu-btn {
  cursor: pointer;
  display: none;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 730px) {
  .desktop-nav {
    display: none;
  }
  //700px 43.75rem
  .mo-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 830px) {
  .nav-wrraper {
    font-size: 1.3rem;
  }
  // 원래 50rem
}
@media screen and (max-width: 550px) {
  .navbar {
    height: 5rem;
  }
  .newso-logo {
    width: 63px;
    height: 25px;
  }
}
