@import "mixin";
.newso-subscription-page-subscribe {
  background-color: #fffdf6;
  padding: 14.5rem 4rem;
  position: relative;
  letter-spacing: -0.58px;
  font-size: 1.4rem;
  @include normal-text;
  @include spoca-han;
}

.newso-subscription-page-subscribe .subscribe-form-input {
  // width require
  background-color: transparent;
  border: solid 1px var(--newso-border-color-gray);
  border-radius: 4px;
  height: 4.8rem;
  padding: 0.9rem;
}
.newso-subscription-page-subscribe .stb-form-policy {
  margin: 2rem 0 0 0;
}
.newso-subscription-page-subscribe .subscribe-form-label {
  color: var(--newso-text-color-gray);
  padding-bottom: 0.4rem;
}

.newso-subscription-page-subscribe .stb-form-policy {
  letter-spacing: -0.58px;
}
.newso-subscription-page-subscribe .stb-form-policy label button {
  color: #3981c3;
  text-decoration: underline;
  text-underline-position: under;
}

.newso-subscription-page-subscribe .stb-form-policy label input {
  border: solid 1px var(--newso-border-color-gray);
  border-radius: 4px;
}

.newso-subscription-page-subscribe .newso-subscription-page-subscribe-button {
  border-radius: 4px;
  font-size: 2.4rem;
  width: 100%;
  letter-spacing: -1px;
  color: var(--newso-text-color-ivory-subscription);
  background-color: var(--newso-main-color-green);
  padding: 1.9rem 8.7rem;
  height: 6.6rem;
}

.newso-subscription-page-subscribe
  .newso-subscription-page-newso-logo-container {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.newso-subscription-page-subscribe .newso-subscription-page-newso-symbol {
  margin-bottom: 1.2rem;
  width: 8rem;
  height: 6.1rem;
}
#stb_policy input:checked {
  background-color: green;
}

.newso-subscription-page-subscribe .newso-subscription-page-newso-logo {
  height: 3.4rem;
  margin-bottom: 1.2rem;
}
.newso-subscription-page-subscribe .subscribe-input-container {
  margin-top: 1.2rem;
}
.newso-subscription-page-subscribe .newso-subscription-page-exit {
  position: absolute;
  top: 2.6rem;
  right: 2.6rem;
  width: 2rem;
  height: 2rem;
}

.newso-subscription-page-subscribe-btn {
  letter-spacing: -1px;
  color: var(--newso-text-color-ivory-subscription);
  background-color: var(--newso-main-color-green);
}
// 에러 메시지 사진과 글
.newso-subscription-page-subscribe .result-message {
  display: flex;
  align-items: center;
  color: #e05451;
  margin: 20px 0 20px 0;
}

.newso-subscription-page-subscribe .warning-img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.success {
  color: #40914d;
}
.error-text-container {
  display: none;
}
@media screen and (max-width: 550px) {
  .newso-subscription-page-subscribe {
    padding: 10rem 2rem 0 2rem;
  }

  .newso-subscription-page-subscribe .newso-subscription-page-subscribe-button {
    padding: 0;
  }

  .newso-subscription-page-subscribe .newso-subscription-page-newso-symbol {
    width: 68px;
    height: 52px;
  }

  .newso-subscription-page-subscribe .newso-subscription-page-newso-logo {
    height: 28px;
  }

  .newso-subscription-page-subscribe .newso-subscription-page-subscribe-button {
    font-size: 2.2rem;
  }
}
