:root {
  --newso-main-color-green: #006933;
  --newso-main-color-blue: #3981c3;
  --newso-text-color-ivory: #fff8e6;
  --newso-text-color-ivory-subscription: #f9f7ed;
  --newso-text-color-ivory-subscription-opacity-9: rgba(249, 247, 237, 0.9);
  --newso-text-color-ivory-subscription-opacity-6: rgba(249, 247, 237, 0.6);
  --newso-text-color-gray: #666666;
  --newso-border-color-gray: #979797;
  --newso-main-text-color-black: #000000;
  --newso-sub-text-color-black: #000000;
  --newso-background-color-ivory: #fff8e8;
  --newso-background-color-ivory-brighthen: #fffdf6;
  --newso-background-color-ivory-opacity-90: rgba(255, 248, 232, 0.9);
  --newso-footer-background-color: #f9f9f9;
  --newso-preface-background-color: #fffdf6;
  --newso-line-color: #231e1f;
  --newso-blue-color: #3981c3;
  --newso-red-color: #e05451;
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  // 이거 지워야됨
  font-family: "Spoqa Han Sans Regular";
  src: url("/assets/font/SpoqaHanSansRegular.ttf") format("truetype");
}
body {
  font-family: "Cafe24SsurroundAir", sans-serif;
}

@mixin spoca-han {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

@mixin line {
  background-color: var(--newso-line-color);
}
.content-wrraper {
  max-width: 1112px;
  padding: 0 16px 0 16px;
  width: 100%;
  margin: 0 auto;

  //   background-color: greenyellow;
}

@mixin normal-text{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}
.flex {
  display: flex;
}
.sticky {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  z-index: 3;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  // justify-content: center;
}
.justify-center {
  justify-content: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.subscribe-btn {
}
.margin-auto {
  margin: auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  /* 모두 채워지지 않으면 vh로 바꾸기  */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  width: calc(100% - 48px);
  border-radius: 12px;
  padding: 24px;
}

//text color
.newso-blue-text {
  color: var(--newso-blue-color);
}

.newso-red-text {
  color: var(--newso-red-color);
}
