@import "mixin";
.newso-story {
  padding-top: 15.8em;

  @include normal-text;
}

.story-title {
  font-size: 4rem;
  @include cafe24;
}

.story-content {
  font-size: 1.6rem;

  @include spoca-han;
}
.story-content-text {
  color: rgba($color: #000000, $alpha: 0.6);
}
.story-container {
  flex-wrap: wrap;
  margin-bottom: 12rem;
  // margin-bottom: 7.5em; 16px 기준
}
.story-line {
  height: 2px;
  width: 100%;
  margin: 1rem 0;
  @include line;
}

.story-content {
  max-width: 50.1rem;
}

.story-subtitle {
  font-weight: bold;
}

.story-jonnie-img {
  max-width: 149px;
  max-height: 212px;
}

.story-content-first {
  margin-bottom: 3.75em;
}

@media screen and (max-width: 800px) {
  // 50rem
  .story-content {
    max-width: 100%;
  }

  .newso-story {
    padding-top: 15rem;
  }

  .story-title {
    margin-bottom: 5.6rem;
    font-size: 3rem;
  }

  .stroy-jonnie-container {
    flex-direction: row;
    width: 100%;
  }

  .story-jonnie-img {
    width: 88px;
    height: 142px;
  }
}

@media screen and (max-width: 550px) {
  .newso-story {
    padding-top: 9.6rem;
  }
}
