@import "mixin";

.stb_subscribe {
  background-color: transparent;
  border: none;
  max-width: 39.4rem;
  padding: 0;
  box-sizing: border-box;
}
.stb_form_title_description {
  font-size: 3.1rem;
  padding-left: 0.8rem;
  letter-spacing: -1.29px;
}

.stb_form_title {
  font-size: 8.9rem;
  letter-spacing: -3.71px;
  padding-bottom: 0;
  margin-top: 0.6rem;
  margin-bottom: 1.7rem;
}

.stb_form_modal_open_btn {
  color: $--newso-blue-color;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-underline-position: under;
  -webkit-text-underline-position: under;
  line-height: unset;
}

.stb_form {
  padding-right: 1rem;
}
.stb_form_description {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.67px;
  padding: 0;
}
.stb_form_set_input {
  padding: 0.9rem;
}
.padding-field {
  padding-left: 0.8rem;
  font-size: 1.6rem;
  @include spoca-han;
  @include normal-text;
}

.newso_strong {
  color: $--newso-main-color-green;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  font-weight: bold;
}
.stb_form_set {
  margin-top: 1em;
}
.stb_form_set .stb_form_set_input {
  background-color: transparent;
  border: solid 1px $--newso-border-color-gray;
  border-radius: 4px;
  height: 4.8rem;
}

.stb_form_set .stb_form_set_label {
  color: $--newso-text-color-gray;
  padding-bottom: 0.4rem;
}
.stb_form_policy {
  margin: 20px 0 0 0;
}
.stb_form_policy label button {
  color: #3981c3;
}
.stb_form_policy label input {
  border: solid 1px $--newso-border-color-gray;
  border-radius: 4px;
}
.stb_form_submit_button {
  border-radius: 4px;
  font-size: 2.4rem;
  width: 26.3rem;
  letter-spacing: -1px;
  color: $--newso-text-color-ivory-subscription;
  background-color: $--newso-main-color-green;
  padding: 1.9rem 8.7rem;
  height: 6.6rem;
  letter-spacing: -1px;
}

.success {
  color: #40914d;
}
// 에러 메시지 사진과 글
.result-message {
  display: flex;
  align-items: center;
  color: #e05451;
  margin: 20px 0 20px 0;
}
// 모든 eror-text-container
.error-text-container {
  display: none;
}
.warning-img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.stb_form_set_input {
  display: block;
  width: 100%;
  margin-top: 4px;
}
@media screen and (max-width: 928px) {
  //58rem
  .subscription-content {
    display: flex;
    flex-direction: column;
  }

  .stb_subscribe {
    margin: 0 auto;
  }

  .mo-subscription-img {
    display: block;
    max-height: 432px;
    max-width: 331px;
    margin: auto;
  }
  .stb_form_submit_button {
    width: 100%;
    padding: 0;
  }
  .subscription-img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .stb_form_title_description {
    font-size: 2.1rem;
  }

  .stb_form_title {
    font-size: 6rem;
  }

  .stb_form_set_label {
    font-size: 1.4rem;
  }

  .subscription {
    padding: 99px 0 56px 0;
  }

  .stb_form_policy {
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
  }
  .subscription-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
