<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>한우뉴스 하면 뉴소레터 I 한우사육, 한우소식, 한우정보, 축산데이터</title>
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png" />
  
  <link rel="shortcut icon" href="https://newso.co.kr/assets/images/favicon/favicon.ico">
  <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
  <link rel="canonical" href="https://newso.co.kr">
  <meta name="robots" content="index,follow">
  <meta name="title" content="한우뉴스 하면 뉴소레터 I 한우사육, 한우소식, 한우정보, 축산데이터" />
  <meta name="author" content="뉴소레터">
  <meta name="writer" Content="뉴소레터">
  <meta name="description" content="축산뉴스레터, 송아지가격, 한우사육, 앤틀러, 축산물이력제, 한우뉴스, 한우소식, 한우정보, 한우키우기, 전국한우정보, 축산정보, 축산뉴스">
  <meta name="keywords" content="뉴소레터, 한우뉴스, 앤틀러, 축산빅데이터, 애니멀 데이터랩, 축산물이력제, 한우소식, 한우키우기, 한우정보, 축산뉴스레터, 송아지가격, 한우사육, 송아지가격, 한우사육, 한우키우기, 한우정보, 한우가격, 한우예방접종, 한우동향, 한우시세, 축산물거래, 축산물홍보, 뉴소레터, 한우뉴스, 인천한우, 대전한우, 대구한우, 울산한우, 부산한우, 광주한우, 서울한우, 경기도한우, 강원도한우, 충청남도한우, 충청북도한우, 전라남도한우, 전라북도한우, 경상북도한우, 경상남도한우, 제도도한우, 축산컴퓨터, 축산업, 축산대학, 한우백신, 한우코로나, 한우종류, 한우가격, 한우품종, 한우등급, 한우금액">
  <meta name="subject" content="뉴소레터" />
  <meta name="copyright" content="뉴소레터" />
  <meta name="content-language" content="ko" />
  <meta name="classification" content="축산뉴스레터, 송아지가격, 한우사육, 앤틀러, 축산물이력제, 한우뉴스, 한우소식, 한우정보, 한우키우기, 전국한우정보, 축산정보, 축산뉴스">
  <meta property="og:locale" content="ko_KR">
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="한우뉴스 하면 뉴소레터 I 한우사육, 한우소식, 한우정보, 축산데이터">
  <meta property="og:site_name" content="뉴소레터">
  <meta property="og:description" content="축산뉴스레터, 송아지가격, 한우사육, 앤틀러, 축산물이력제, 한우뉴스, 한우소식, 한우정보, 한우키우기, 전국한우정보, 축산정보, 축산뉴스">
  <meta property="og:image" content="https://newso.co.kr/assets/images/link.jpg">
  <meta property="og:url" content="https://newso.co.kr">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="뉴소레터">
  <meta name="twitter:description" content="축산뉴스레터, 송아지가격, 한우사육, 앤틀러, 축산물이력제, 한우뉴스, 한우소식, 한우정보, 한우키우기, 전국한우정보, 축산정보, 축산뉴스">
  <meta name="twitter:image" content="https://newso.co.kr/assets/images/link.jpg">
  <meta name="twitter:domain" content="뉴소레터">
   
  <meta name="naver-site-verification" content="e1b35b21a5c909de5e81c6451405b651e79df382" />   <!-- SEO 추적 코드 삭제 금지! By. vinacom  -->

  <!-- 연결된 js와 css 이 있으면 불러옴  -->

  {% if page.custom_css %} {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/deploy-css/{{ stylesheet }}.css" />
  {% endfor %} {% endif %} {% if page.custom_js %} {% for js_file in
  page.custom_js %}
  <script defer type="module" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
  {% endfor %} {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics 뉴소레터 구글 analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QV1PHRXGH3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-QV1PHRXGH3");
  </script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init("e01a39c601475ad96b007a1af73ea6a9");

    // SDK 초기화 여부를 판단합니다.
    console.log(Kakao.isInitialized());

    function addSubscriberOnKaKaoChannel() {
      Kakao.Channel.addChannel({
        channelPublicId: "_ZveLs",
      });
    }
  </script>
</head>

<body>
  <div class="container contents-wrap">
    {% include navigation.html %} {% include modal.html %}{% include
    mo-nav.html %}{% include modal-information.html %} {{ content }} {%include
    footer.html %}
  </div>
</body>

</html>
